@font-face {
  font-family: 'Rubik';
  src: url('./../fonts/Rubik.woff2') format('woff2'),
    url('./../fonts/Rubik.woff') format('woff'),
    url('./../fonts/Rubik.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./../fonts/Rubikbold.woff2') format('woff2'),
    url('./../fonts/Rubikbold.woff') format('woff'),
    url('./../fonts/Rubikbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
