a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 26px;
  color: var(--defaultTextColor);
  background: linear-gradient(50.5deg, #151522 12.39%, #444444 91.21%);
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content {
  min-width: 320px;
  margin: 0 auto;
}

.btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham';
  font-size: 12px;
  text-transform: uppercase;

  background-color: transparent;
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;
}

@media (min-width: 768px) {
  .content {
    min-width: 768px;
  }
}

@media (min-width: 1110px) {
  .content {
    width: 1110px;
    margin: 0 auto;
  }
}
